@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
nav img {
  width: 60px;
  height: 60px;
  margin-left: 67px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
  list-style: none;
  align-items: center;
  margin-right: 67px;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #484551;
}
nav a:hover {
  color: #4fa3db;
  text-decoration: underline;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
}

.dropbtn {
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 8%;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #4fa3db;
  text-decoration: underline;
}

main {
  margin-top: 6rem;
  padding-left: 2rem;
}
